@{
    ViewData["Title"] = "Rent A Car";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Rent A Car</h1>
    <p>You can learn more in our <a href="https://github.com/Byte-White/Rent-A-Car">github repo</a>.</p>
</div>
